body {
    font-family: 'Arvo', serif;
    font-size: 34px;
    background: #b6cc66;
    
}

h1 {
    font-family: 'Monda', sans-serif;
    font-size: 42px;
    margin: 40px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.534);
    text-align: center

}
input {
    width: 100px;;
}

.calculator {
    background: #fff;
    border: 2px solid #000;
    max-width: 300px;
    margin: 40px;
    margin: 0 auto;
}

.calculator-data {
    padding: 20px;
}
.bill, .percent {
    margin: 10px;
}

.calc {
    margin: 0 auto;
    text-align: center;
    font-family: 'Monda', sans-serif;
}